@charset "utf-8";
@font-face {
    font-family: didot;
    src: url(../fonts/didot.eot?#iefix) format('embedded-opentype'), url(../fonts/didot.woff) format('woff'), url(../fonts/didot.woff2) format('woff2'), url(../fonts/didot.ttf) format('truetype'), url(../fonts/didot.svg#didot) format('svg')
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out
}

html {
    background: #fff;
    font-size: 62.5%;
    font-size: calc(100vw / 19.2)
}

body {
    font-size: 14px;
    color: #333;
    font-family: 'Microsoft YaHei', '微软雅黑', "STHeiti Light", STHeiti, "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
    overflow-x: hidden
}

a,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
object,
ol,
p,
span,
ul {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased
}

fieldset,
img {
    border: 0
}

img,
object {
    max-width: 100%
}

a {
    outline: 0;
    text-decoration: none;
    color: #333;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

a:hover {
    color: #c90000;
    text-decoration: none
}

input[type=button] {
    outline: 0;
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

li,
ol,
ul {
    list-style: none outside none
}

button {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

input,
select,
textarea {
    font-weight: inherit;
    outline: 0 !important
}

button,
input,
select,
textarea {
    vertical-align: middle
}

.clearFix {
    *zoom: 1;
    clear: both
}

.clearFix:after {
    content: '';
    display: block;
    clear: both
}

.clear {
    width: 100%;
    overflow: hidden
}

.row {
    max-width: initial;
    position: relative;
    z-index: 2;
    margin-left: auto !important;
    margin-right: auto !important;
    width: calc(100% - 2.6rem)
}

.row_l {
    position: absolute;
    left: calc(50% - 700px);
    z-index: 2
}

.row_r {
    position: absolute;
    right: calc(50% - 700px);
    z-index: 2
}

@media screen and (min-width:3440px) {
    .row {
        max-width: 300vh
    }
}

@media screen and (max-width:1000px) {
    html {
        font-size: 60px
    }
    .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 20px !important;
        margin-right: 20px !important;
        width: auto
    }
    .row_l {
        left: 20px;
        max-width: calc(100vw - 40px)
    }
    .row .row_l {
        left: 0
    }
    .row_r {
        right: 20px;
        max-width: calc(100vw - 40px)
    }
    .row .row_r {
        right: 0
    }
}

@media screen and (max-width:767px) {
    .row_l {
        left: 20px;
        max-width: calc(100vw - 40px)
    }
    .row_r {
        right: 20px;
        max-width: calc(100vw - 40px)
    }
}

@media screen and (min-width:1000px) {
    .only_mob {
        display: none !important
    }
}

.pa-b,
.pa-bm,
.pa-c,
.pa-l,
.pa-lb,
.pa-lm,
.pa-lt,
.pa-r,
.pa-rb,
.pa-rm,
.pa-rt,
.pa-t,
.pa-tm {
    z-index: 2;
    position: absolute
}

.pa {
    position: absolute
}

.pr {
    position: relative
}

.pa-t {
    left: 0;
    right: 0;
    top: 0
}

.pa-b {
    left: 0;
    right: 0;
    bottom: 0
}

.pa-l {
    left: 0;
    top: 0;
    bottom: 0
}

.pa-r {
    right: 0;
    top: 0;
    bottom: 0
}

.pa-lt {
    left: 0;
    top: 0
}

.pa-rt {
    right: 0;
    top: 0
}

.pa-lb {
    left: 0;
    bottom: 0
}

.pa-rb {
    right: 0;
    bottom: 0
}

.pa-lm {
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.pa-rm {
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.pa-tm {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.pa-bm {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.pa-c {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.z1 {
    position: relative;
    z-index: 1
}

.z2 {
    position: relative;
    z-index: 2
}

.z3 {
    position: relative;
    z-index: 3
}

.z4 {
    position: relative;
    z-index: 4
}

.z5 {
    position: relative;
    z-index: 5
}

.fs48 {
    font-size: .48rem
}

.fs44 {
    font-size: .44rem
}

.fs42 {
    font-size: .42rem
}

.fs40 {
    font-size: .4rem
}

.fs38 {
    font-size: .38rem
}

.fs36 {
    font-size: .36rem
}

.fs34 {
    font-size: .34rem
}

.fs33 {
    font-size: .33rem
}

.fs32 {
    font-size: .32rem
}

.fs30 {
    font-size: .3rem
}

.fs28 {
    font-size: .28rem
}

.fs26 {
    font-size: .26rem
}

.fs24 {
    font-size: .24rem
}

.fs22 {
    font-size: .22rem
}

.fs20 {
    font-size: .2rem
}

.fs19 {
    font-size: .19rem
}

.fs18 {
    font-size: .18rem
}

.fs17 {
    font-size: .17rem
}

.fs16 {
    font-size: .16rem
}

.fs15 {
    font-size: .15rem
}

.fs14 {
    font-size: .14rem
}

.fs13 {
    font-size: .13rem
}

.fs12 {
    font-size: .12rem
}

[class*=lh][class*=x1] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

[class*=lh][class*=x2],
[class*=lh][class*=x3],
[class*=lh][class*=x4],
[class*=lh][class*=x5],
[class*=lh][class*=x6] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

[class*=lh][class*=x2] {
    -webkit-line-clamp: 2
}

[class*=lh][class*=x3] {
    -webkit-line-clamp: 3
}

[class*=lh][class*=x4] {
    -webkit-line-clamp: 4
}

[class*=lh][class*=x5] {
    -webkit-line-clamp: 5
}

[class*=lh][class*=x6] {
    -webkit-line-clamp: 6
}

@media screen and (min-width:1000px) {
    .lh18,
    [class*=lh18] {
        line-height: .18rem
    }
    .lh19,
    [class*=lh19] {
        line-height: .19rem
    }
    .lh20,
    [class*=lh20] {
        line-height: .2rem
    }
    .lh21,
    [class*=lh21] {
        line-height: .21rem
    }
    .lh22,
    [class*=lh22] {
        line-height: .22rem
    }
    .lh23,
    [class*=lh23] {
        line-height: .23rem
    }
    .lh24,
    [class*=lh24] {
        line-height: .24rem
    }
    .lh25,
    [class*=lh25] {
        line-height: .25rem
    }
    .lh26,
    [class*=lh26] {
        line-height: .26rem
    }
    .lh27,
    [class*=lh27] {
        line-height: .27rem
    }
    .lh28,
    [class*=lh28] {
        line-height: .28rem
    }
    .lh29,
    [class*=lh29] {
        line-height: .29rem
    }
    .lh30,
    [class*=lh30] {
        line-height: .3rem
    }
    .lh31,
    [class*=lh31] {
        line-height: .31rem
    }
    .lh32,
    [class*=lh32] {
        line-height: .32rem
    }
    .lh33,
    [class*=lh33] {
        line-height: .33rem
    }
    .lh34,
    [class*=lh34] {
        line-height: .34rem
    }
    .lh35,
    [class*=lh35] {
        line-height: .35rem
    }
    .lh36,
    [class*=lh36] {
        line-height: .36rem
    }
    .lh37,
    [class*=lh37] {
        line-height: .37rem
    }
    .lh38,
    [class*=lh38] {
        line-height: .38rem
    }
    .lh39,
    [class*=lh39] {
        line-height: .39rem
    }
    .lh40,
    [class*=lh40] {
        line-height: .4rem
    }
    .lh41,
    [class*=lh41] {
        line-height: .41rem
    }
    .lh42,
    [class*=lh42] {
        line-height: .42rem
    }
    .lh43,
    [class*=lh43] {
        line-height: .43rem
    }
    .lh44,
    [class*=lh44] {
        line-height: .44rem
    }
    .lh45,
    [class*=lh45] {
        line-height: .45rem
    }
    .lh46,
    [class*=lh46] {
        line-height: .46rem
    }
    .lh47,
    [class*=lh47] {
        line-height: .47rem
    }
    .lh48,
    [class*=lh48] {
        line-height: .48rem
    }
    .lh49,
    [class*=lh49] {
        line-height: .49rem
    }
    .lh50,
    [class*=lh50] {
        line-height: .5rem
    }
    .lh18x1 {
        height: .18rem
    }
    .lh18x2 {
        height: .36rem
    }
    .lh18x3 {
        height: .54rem
    }
    .lh18x4 {
        height: .72rem
    }
    .lh18x5 {
        height: .9rem
    }
    .lh18x6 {
        height: 1.08rem
    }
    .lh19x1 {
        height: .19rem
    }
    .lh19x2 {
        height: .38rem
    }
    .lh19x3 {
        height: .57rem
    }
    .lh19x4 {
        height: .76rem
    }
    .lh19x5 {
        height: .95rem
    }
    .lh19x6 {
        height: 1.14rem
    }
    .lh20x1 {
        height: .2rem
    }
    .lh20x2 {
        height: .4rem
    }
    .lh20x3 {
        height: .6rem
    }
    .lh20x4 {
        height: .8rem
    }
    .lh20x5 {
        height: 1rem
    }
    .lh20x6 {
        height: 1.2rem
    }
    .lh21x1 {
        height: .21rem
    }
    .lh21x2 {
        height: .42rem
    }
    .lh21x3 {
        height: .63rem
    }
    .lh21x4 {
        height: .84rem
    }
    .lh21x5 {
        height: 1.05rem
    }
    .lh21x6 {
        height: 1.26rem
    }
    .lh22x1 {
        height: .22rem
    }
    .lh22x2 {
        height: .44rem
    }
    .lh22x3 {
        height: .66rem
    }
    .lh22x4 {
        height: .88rem
    }
    .lh22x5 {
        height: 1.1rem
    }
    .lh22x6 {
        height: 1.32rem
    }
    .lh23x1 {
        height: .23rem
    }
    .lh23x2 {
        height: .46rem
    }
    .lh23x3 {
        height: .69rem
    }
    .lh23x4 {
        height: .92rem
    }
    .lh23x5 {
        height: 1.15rem
    }
    .lh23x6 {
        height: 1.38rem
    }
    .lh24x1 {
        height: .24rem
    }
    .lh24x2 {
        height: .48rem
    }
    .lh24x3 {
        height: .72rem
    }
    .lh24x4 {
        height: .96rem
    }
    .lh24x5 {
        height: 1.2rem
    }
    .lh24x6 {
        height: 1.44rem
    }
    .lh25x1 {
        height: .25rem
    }
    .lh25x2 {
        height: .5rem
    }
    .lh25x3 {
        height: .75rem
    }
    .lh25x4 {
        height: 1rem
    }
    .lh25x5 {
        height: 1.25rem
    }
    .lh25x6 {
        height: 1.5rem
    }
    .lh26x1 {
        height: .26rem
    }
    .lh26x2 {
        height: .52rem
    }
    .lh26x3 {
        height: .78rem
    }
    .lh26x4 {
        height: 1.04rem
    }
    .lh26x5 {
        height: 1.3rem
    }
    .lh26x6 {
        height: 1.56rem
    }
    .lh27x1 {
        height: .27rem
    }
    .lh27x2 {
        height: .54rem
    }
    .lh27x3 {
        height: .81rem
    }
    .lh27x4 {
        height: 1.08rem
    }
    .lh27x5 {
        height: 1.35rem
    }
    .lh27x6 {
        height: 1.62rem
    }
    .lh28x1 {
        height: .28rem
    }
    .lh28x2 {
        height: .56rem
    }
    .lh28x3 {
        height: .84rem
    }
    .lh28x4 {
        height: 1.12rem
    }
    .lh28x5 {
        height: 1.4rem
    }
    .lh28x6 {
        height: 1.68rem
    }
    .lh29x1 {
        height: .29rem
    }
    .lh29x2 {
        height: .58rem
    }
    .lh29x3 {
        height: .87rem
    }
    .lh29x4 {
        height: 1.16rem
    }
    .lh29x5 {
        height: 1.45rem
    }
    .lh29x6 {
        height: 1.74rem
    }
    .lh30x1 {
        height: .3rem
    }
    .lh30x2 {
        height: .6rem
    }
    .lh30x3 {
        height: .9rem
    }
    .lh30x4 {
        height: 1.2rem
    }
    .lh30x5 {
        height: 1.5rem
    }
    .lh30x6 {
        height: 1.8rem
    }
    .lh31x1 {
        height: .31rem
    }
    .lh31x2 {
        height: .62rem
    }
    .lh31x3 {
        height: .93rem
    }
    .lh31x4 {
        height: 1.24rem
    }
    .lh31x5 {
        height: 1.55rem
    }
    .lh31x6 {
        height: 1.86rem
    }
    .lh32x1 {
        height: .32rem
    }
    .lh32x2 {
        height: .64rem
    }
    .lh32x3 {
        height: .96rem
    }
    .lh32x4 {
        height: 1.28rem
    }
    .lh32x5 {
        height: 1.6rem
    }
    .lh32x6 {
        height: 1.92rem
    }
    .lh33x1 {
        height: .33rem
    }
    .lh33x2 {
        height: .66rem
    }
    .lh33x3 {
        height: .99rem
    }
    .lh33x4 {
        height: 1.32rem
    }
    .lh33x5 {
        height: 1.65rem
    }
    .lh33x6 {
        height: 1.98rem
    }
    .lh34x1 {
        height: .34rem
    }
    .lh34x2 {
        height: .68rem
    }
    .lh34x3 {
        height: 1.02rem
    }
    .lh34x4 {
        height: 1.36rem
    }
    .lh34x5 {
        height: 1.7rem
    }
    .lh34x6 {
        height: 2.04rem
    }
    .lh35x1 {
        height: .35rem
    }
    .lh35x2 {
        height: .7rem
    }
    .lh35x3 {
        height: 1.05rem
    }
    .lh35x4 {
        height: 1.4rem
    }
    .lh35x5 {
        height: 1.75rem
    }
    .lh35x6 {
        height: 2.1rem
    }
    .lh36x1 {
        height: .36rem
    }
    .lh36x2 {
        height: .72rem
    }
    .lh36x3 {
        height: 1.08rem
    }
    .lh36x4 {
        height: 1.44rem
    }
    .lh36x5 {
        height: 1.8rem
    }
    .lh36x6 {
        height: 2.16rem
    }
    .lh37x1 {
        height: .37rem
    }
    .lh37x2 {
        height: .74rem
    }
    .lh37x3 {
        height: 1.11rem
    }
    .lh37x4 {
        height: 1.48rem
    }
    .lh37x5 {
        height: 1.85rem
    }
    .lh37x6 {
        height: 2.22rem
    }
    .lh38x1 {
        height: .38rem
    }
    .lh38x2 {
        height: .76rem
    }
    .lh38x3 {
        height: 1.14rem
    }
    .lh38x4 {
        height: 1.52rem
    }
    .lh38x5 {
        height: 1.9rem
    }
    .lh38x6 {
        height: 2.28rem
    }
    .lh39x1 {
        height: .39rem
    }
    .lh39x2 {
        height: .78rem
    }
    .lh39x3 {
        height: 1.17rem
    }
    .lh39x4 {
        height: 1.56rem
    }
    .lh39x5 {
        height: 1.95rem
    }
    .lh39x6 {
        height: 2.34rem
    }
    .lh40x1 {
        height: .4rem
    }
    .lh40x2 {
        height: .8rem
    }
    .lh40x3 {
        height: 1.2rem
    }
    .lh40x4 {
        height: 1.6rem
    }
    .lh40x5 {
        height: 2rem
    }
    .lh40x6 {
        height: 2.4rem
    }
    .lh41x1 {
        height: .41rem
    }
    .lh41x2 {
        height: .82rem
    }
    .lh41x3 {
        height: 1.23rem
    }
    .lh41x4 {
        height: 1.64rem
    }
    .lh41x5 {
        height: 2.05rem
    }
    .lh41x6 {
        height: 2.46rem
    }
    .lh42x1 {
        height: .42rem
    }
    .lh42x2 {
        height: .84rem
    }
    .lh42x3 {
        height: 1.26rem
    }
    .lh42x4 {
        height: 1.68rem
    }
    .lh42x5 {
        height: 2.1rem
    }
    .lh42x6 {
        height: 2.52rem
    }
    .lh43x1 {
        height: .43rem
    }
    .lh43x2 {
        height: .86rem
    }
    .lh43x3 {
        height: 1.29rem
    }
    .lh43x4 {
        height: 1.72rem
    }
    .lh43x5 {
        height: 2.15rem
    }
    .lh43x6 {
        height: 2.58rem
    }
    .lh44x1 {
        height: .44rem
    }
    .lh44x2 {
        height: .88rem
    }
    .lh44x3 {
        height: 1.32rem
    }
    .lh44x4 {
        height: 1.76rem
    }
    .lh44x5 {
        height: 2.2rem
    }
    .lh44x6 {
        height: 2.64rem
    }
    .lh45x1 {
        height: .45rem
    }
    .lh45x2 {
        height: .9rem
    }
    .lh45x3 {
        height: 1.35rem
    }
    .lh45x4 {
        height: 1.8rem
    }
    .lh45x5 {
        height: 2.25rem
    }
    .lh45x6 {
        height: 2.7rem
    }
    .lh46x1 {
        height: .46rem
    }
    .lh46x2 {
        height: .92rem
    }
    .lh46x3 {
        height: 1.38rem
    }
    .lh46x4 {
        height: 1.84rem
    }
    .lh46x5 {
        height: 2.3rem
    }
    .lh46x6 {
        height: 2.76rem
    }
    .lh47x1 {
        height: .47rem
    }
    .lh47x2 {
        height: .94rem
    }
    .lh47x3 {
        height: 1.41rem
    }
    .lh47x4 {
        height: 1.88rem
    }
    .lh47x5 {
        height: 2.35rem
    }
    .lh47x6 {
        height: 2.82rem
    }
    .lh48x1 {
        height: .48rem
    }
    .lh48x2 {
        height: .96rem
    }
    .lh48x3 {
        height: 1.44rem
    }
    .lh48x4 {
        height: 1.92rem
    }
    .lh48x5 {
        height: 2.4rem
    }
    .lh48x6 {
        height: 2.88rem
    }
    .lh49x1 {
        height: .49rem
    }
    .lh49x2 {
        height: .98rem
    }
    .lh49x3 {
        height: 1.47rem
    }
    .lh49x4 {
        height: 1.96rem
    }
    .lh49x5 {
        height: 2.45rem
    }
    .lh49x6 {
        height: 2.94rem
    }
    .lh50x1 {
        height: .5rem
    }
    .lh50x2 {
        height: 1rem
    }
    .lh50x3 {
        height: 1.5rem
    }
    .lh50x4 {
        height: 2rem
    }
    .lh50x5 {
        height: 2.5rem
    }
    .lh50x6 {
        height: 3rem
    }
}

@media screen and (max-width:1640px) {
    .fs48 {
        font-size: .44rem
    }
}

@media screen and (max-width:1220px) {
    .fs48 {
        font-size: .4rem
    }
    .fs42,
    .fs44 {
        font-size: .36rem
    }
    .fs40 {
        font-size: .32rem
    }
    .fs38 {
        font-size: .3rem
    }
    .fs36 {
        font-size: .28rem
    }
    .fs33,
    .fs34 {
        font-size: .27rem
    }
    .fs32 {
        font-size: .26rem
    }
    .fs28,
    .fs30 {
        font-size: .25rem
    }
    .fs24,
    .fs26 {
        font-size: .22rem
    }
    .fs22 {
        font-size: .2rem
    }
    .fs19,
    .fs20 {
        font-size: .18rem
    }
    .fs17 {
        font-size: .16rem
    }
}

@media screen and (max-width:1000px) {
    .fs48 {
        font-size: 40px
    }
    .fs42,
    .fs44 {
        font-size: 36px
    }
    .fs40 {
        font-size: 32px
    }
    .fs38 {
        font-size: 30px
    }
    .fs36 {
        font-size: 28px
    }
    .fs33,
    .fs34 {
        font-size: 27px
    }
    .fs32 {
        font-size: 26px
    }
    .fs28,
    .fs30 {
        font-size: 25px
    }
    .fs24,
    .fs26 {
        font-size: 22px
    }
    .fs22 {
        font-size: 20px
    }
    .fs19,
    .fs20 {
        font-size: 18px
    }
    .fs17 {
        font-size: 16px
    }
    .fs48 {
        font-size: 36px
    }
    .fs42,
    .fs44 {
        font-size: 32px
    }
    .fs40 {
        font-size: 28px
    }
    .fs38 {
        font-size: 26px
    }
    .fs33,
    .fs34,
    .fs36 {
        font-size: 24px
    }
    .fs28,
    .fs30,
    .fs32 {
        font-size: 22px
    }
    .fs24,
    .fs26 {
        font-size: 22px
    }
    .fs22 {
        font-size: 18px
    }
    .fs18 {
        font-size: 18px
    }
    .fs16,
    .fs17 {
        font-size: 16px
    }
    .fs14,
    .fs15 {
        font-size: 14px
    }
    [class*=lh] {
        line-height: 1.8
    }
}

@media screen and (max-width:767px) {
    .fs48 {
        font-size: 30px
    }
    .fs42,
    .fs44 {
        font-size: 26px
    }
    .fs38,
    .fs40 {
        font-size: 24px
    }
    .fs33,
    .fs34,
    .fs36 {
        font-size: 20px
    }
    .fs28,
    .fs30,
    .fs32 {
        font-size: 19px
    }
    .fs24,
    .fs26 {
        font-size: 18px
    }
    .fs20,
    .fs22 {
        font-size: 16px
    }
    .fs18,
    .fs19 {
        font-size: 16px
    }
    .fs16,
    .fs17 {
        font-size: 16px
    }
    .fs13,
    .fs14,
    .fs15 {
        font-size: 14px
    }
}

.ul-inline {
    font-size: 0
}

.ul-inline li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    vertical-align: top;
    width: 100%
}

.ul-inline a {
    display: block
}

.title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.info {
    display: block;
    overflow: hidden
}

.img,
.img1x1,
.img2x3,
.img3x2,
.img3x4,
.img4x3,
.img5x3,
.img5x7 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.img1x1 {
    padding-bottom: 100%
}

.img5x7 {
    padding-bottom: 140%
}

.img5x3 {
    padding-bottom: 60%
}

.img3x2 {
    padding-bottom: 66.6%
}

.img4x3 {
    padding-bottom: 75%
}

.img2x3 {
    padding-bottom: 150%
}

.img3x4 {
    padding-bottom: 133.3%
}

.img img,
.img1x1 img,
.img2x3 img,
.img3x2 img,
.img3x4 img,
.img4x3 img,
.img5x3 img,
.img5x7 img {
    width: 100%;
    display: block;
    transition: all linear .35s;
    -ms-transition: all linear .35s;
    -moz-transition: all linear .35s;
    -webkit-transition: all linear .35s;
    -o-transition: all linear .35s
}

.img_centered {
    display: block;
    overflow: hidden;
    position: relative
}

.img_centered img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: auto;
    margin: auto
}

.img_cover {
    display: block;
    overflow: hidden;
    position: relative
}

.img_cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    min-width: 100%;
    max-width: 1000%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%
}

.iconfont::before {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ta_l {
    text-align: left
}

.ta_c {
    text-align: center
}

.ta_r {
    text-align: right
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

a:hover .img img,
a:hover .img2x3 img,
a:hover .img3x2 img,
a:hover .img3x4 img,
a:hover .img4x3 img,
a:hover .img5x3 img,
a:hover .img5x7 img {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.item:hover .img img,
.item:hover .img2x3 img,
.item:hover .img3x2 img,
.item:hover .img3x4 img,
.item:hover .img4x3 img,
.item:hover .img5x3 img,
.item:hover .img5x7 img {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.img_centered img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: auto;
    margin: auto
}

.clear {
    clear: both
}

.rightDate {
    float: right
}

.clear2 {
    line-height: 0
}

.clear2::after {
    content: '';
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    height: 0;
    line-height: 0
}

[class*=logo] {
    display: block;
    position: relative
}

[class*=logo] img {
    display: block
}

[class*=logo] a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block
}

.ser {
    height: 45px;
    width: 500px;
    position: relative;
    z-index: 2
}

.search {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    z-index: 100
}

.search input.notxt {
    position: absolute;
    width: calc(100% - 150px);
    height: 100%;
    color: #666;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    font-size: 14px;
    z-index: 3;
    padding: 0 0 0 20px;
    background: 0 0;
    border: 0
}

.search input.notxt1 {
    position: absolute;
    width: 120px;
    border: none;
    background: 0 0;
    right: -1px;
    cursor: pointer;
    z-index: 3;
    font-size: 0;
    top: -2px;
    bottom: -1px;
    background: url(../images/search.svg) center no-repeat #007072;
    background-size: 58% auto
}

.visible_box {
    display: none
}

.visible_box.on {
    display: block
}

@keyframes y_scale {
    0% {
        transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform-origin: top;
        -ms-transform-origin: top;
        -webkit-transform-origin: top
    }
    100% {
        transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform-origin: top;
        -ms-transform-origin: top;
        -webkit-transform-origin: top
    }
}

.col {
    float: left
}

.col:nth-last-child(2) {
    float: right;
    margin-right: 0 !important
}

.col:first {
    margin-left: 0 !important
}

[class*=gp-lg],
[class*=gp-md],
[class*=gp-sm],
[class*=gp-xs] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 100%
}

[class*=gp-avg] {
    font-size: 0;
    letter-spacing: 0
}

[class*=gp-avg]>li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    vertical-align: top;
    font-size: 1.4rem;
    width: 100%
}

@media screen and (min-width:100px) {
    [class*=gp-avg] li {
        width: 100%
    }
    .gp-avg-xxs-1>li {
        width: 100%
    }
    .gp-avg-xxs-2>li {
        width: 50%
    }
    .gp-avg-xxs-3>li {
        width: 33.3%
    }
    .gp-avg-xxs-4>li {
        width: 25%
    }
    .gp-avg-xxs-5>li {
        width: 20%
    }
}

@media screen and (max-width:479px) {
    [class*=gp-xs] {
        width: 100%;
        display: block
    }
    .gp-avg-xxs-1>li {
        width: 100%
    }
    .gp-avg-xxs-2>li {
        width: 50%
    }
    .gp-avg-xxs-3>li {
        width: 33.3%
    }
    .gp-avg-xxs-4>li {
        width: 25%
    }
    .gp-avg-xxs-5>li {
        width: 20%
    }
}

@media screen and (min-width:479px) {
    [class*=gp-xs] {
        margin-right: -2px;
        margin-left: -2px
    }
    .gp-xs-1 {
        width: 8.33333333%
    }
    .gp-xs-2 {
        width: 16.66666667%
    }
    .gp-xs-3 {
        width: 25%
    }
    .gp-xs-4 {
        width: 33.33333333%
    }
    .gp-xs-5 {
        width: 41.66666667%
    }
    .gp-xs-6 {
        width: 50%
    }
    .gp-xs-7 {
        width: 58.33333333%
    }
    .gp-xs-8 {
        width: 66.66666667%
    }
    .gp-xs-9 {
        width: 75%
    }
    .gp-xs-10 {
        width: 83.33333333%
    }
    .gp-xs-11 {
        width: 91.66666667%
    }
    .gp-xs-12 {
        width: 100%
    }
    .gp-xs-offset-0 {
        margin-left: 0
    }
    .gp-xs-offset-1 {
        margin-left: 8.33333333%
    }
    .gp-xs-offset-2 {
        margin-left: 16.66666667%
    }
    .gp-xs-offset-3 {
        margin-left: 25%
    }
    .gp-xs-offset-4 {
        margin-left: 33.33333333%
    }
    .gp-xs-offset-5 {
        margin-left: 41.66666667%
    }
    .gp-xs-offset-6 {
        margin-left: 50%
    }
    .gp-xs-offset-7 {
        margin-left: 58.33333333%
    }
    .gp-xs-offset-8 {
        margin-left: 66.66666667%
    }
    .gp-xs-offset-9 {
        margin-left: 75%
    }
    .gp-xs-offset-10 {
        margin-left: 83.33333333%
    }
    .gp-xs-offset-11 {
        margin-left: 91.66666667%
    }
    .gp-xs-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    [class*=gp-].gp-xs-centered {
        margin-left: auto;
        margin-right: auto;
        display: block
    }
    [class*=gp-].gp-xs-centered:last-child {
        float: none
    }
    [class*=gp-].gp-xs-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    [class*=gp-].gp-xs-uncentered:last-child {
        float: left
    }
    .gp-avg-xs-1>li {
        width: 100%
    }
    .gp-avg-xs-2>li {
        width: 50%
    }
    .gp-avg-xs-3>li {
        width: 33.3%
    }
    .gp-avg-xs-4>li {
        width: 25%
    }
    .gp-avg-xs-5>li {
        width: 20%
    }
}

@media screen and (min-width:767px) {
    [class*=gp-sm] {
        margin-right: -2px;
        margin-left: -2px
    }
    .gp-sm-1 {
        width: 8.33333333%
    }
    .gp-sm-2 {
        width: 16.66666667%
    }
    .gp-sm-3 {
        width: 25%
    }
    .gp-sm-4 {
        width: 33.33333333%
    }
    .gp-sm-5 {
        width: 41.66666667%
    }
    .gp-sm-6 {
        width: 50%
    }
    .gp-sm-7 {
        width: 58.33333333%
    }
    .gp-sm-8 {
        width: 66.66666667%
    }
    .gp-sm-9 {
        width: 75%
    }
    .gp-sm-10 {
        width: 83.33333333%
    }
    .gp-sm-11 {
        width: 91.66666667%
    }
    .gp-sm-12 {
        width: 100%
    }
    .gp-sm-offset-0 {
        margin-left: 0
    }
    .gp-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .gp-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .gp-sm-offset-3 {
        margin-left: 25%
    }
    .gp-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .gp-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .gp-sm-offset-6 {
        margin-left: 50%
    }
    .gp-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .gp-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .gp-sm-offset-9 {
        margin-left: 75%
    }
    .gp-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .gp-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .gp-sm-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    [class*=gp-].gp-sm-centered {
        margin-left: auto;
        margin-right: auto;
        display: block
    }
    [class*=gp-].gp-sm-centered:last-child {
        display: block
    }
    [class*=gp-].gp-sm-uncentered {
        margin-left: 0;
        margin-right: 0
    }
    [class*=gp-].gp-sm-uncentered:last-child {
        display: block
    }
    .gp-avg-sm-1>li {
        width: 100%
    }
    .gp-avg-sm-2>li {
        width: 50%
    }
    .gp-avg-sm-3>li {
        width: 33.3%
    }
    .gp-avg-sm-4>li {
        width: 25%
    }
    .gp-avg-sm-5>li {
        width: 20%
    }
}

@media screen and (min-width:997px) {
    [class*=gp-md] {
        margin-right: -2px;
        margin-left: -2px
    }
    .gp-md-1 {
        width: 8.33333333%
    }
    .gp-md-2 {
        width: 16.66666667%
    }
    .gp-md-3 {
        width: 25%
    }
    .gp-md-4 {
        width: 33.33333333%
    }
    .gp-md-5 {
        width: 41.66666667%
    }
    .gp-md-6 {
        width: 50%
    }
    .gp-md-7 {
        width: 58.33333333%
    }
    .gp-md-8 {
        width: 66.66666667%
    }
    .gp-md-9 {
        width: 75%
    }
    .gp-md-10 {
        width: 83.33333333%
    }
    .gp-md-11 {
        width: 91.66666667%
    }
    .gp-md-12 {
        width: 100%
    }
    .gp-md-offset-0 {
        margin-left: 0
    }
    .gp-md-offset-1 {
        margin-left: 8.33333333%
    }
    .gp-md-offset-2 {
        margin-left: 16.66666667%
    }
    .gp-md-offset-3 {
        margin-left: 25%
    }
    .gp-md-offset-4 {
        margin-left: 33.33333333%
    }
    .gp-md-offset-5 {
        margin-left: 41.66666667%
    }
    .gp-md-offset-6 {
        margin-left: 50%
    }
    .gp-md-offset-7 {
        margin-left: 58.33333333%
    }
    .gp-md-offset-8 {
        margin-left: 66.66666667%
    }
    .gp-md-offset-9 {
        margin-left: 75%
    }
    .gp-md-offset-10 {
        margin-left: 83.33333333%
    }
    .gp-md-offset-11 {
        margin-left: 91.66666667%
    }
    .gp-md-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    [class*=gp-].gp-md-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    [class*=gp-].gp-md-centered:last-child {
        float: none
    }
    [class*=am-u-].gp-md-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    [class*=gp-].gp-md-uncentered:last-child {
        float: left
    }
    .gp-avg-md-1>li {
        width: 100%
    }
    .gp-avg-md-2>li {
        width: 50%
    }
    .gp-avg-md-3>li {
        width: 33.3%
    }
    .gp-avg-md-4>li {
        width: 25%
    }
    .gp-avg-md-5>li {
        width: 20%
    }
}

@media screen and (min-width:1480px) {
    [class*=gp-lg] {
        margin-right: -2px;
        margin-left: -2px
    }
    .gp-lg-1 {
        width: 8.33333333%
    }
    .gp-lg-2 {
        width: 16.66666667%
    }
    .gp-lg-3 {
        width: 25%
    }
    .gp-lg-4 {
        width: 33.33333333%
    }
    .gp-lg-5 {
        width: 41.66666667%
    }
    .gp-lg-6 {
        width: 50%
    }
    .gp-lg-7 {
        width: 58.33333333%
    }
    .gp-lg-8 {
        width: 66.66666667%
    }
    .gp-lg-9 {
        width: 75%
    }
    .gp-lg-10 {
        width: 83.33333333%
    }
    .gp-lg-11 {
        width: 91.66666667%
    }
    .gp-lg-12 {
        width: 100%
    }
    .gp-lg-offset-0 {
        margin-left: 0
    }
    .gp-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .gp-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .gp-lg-offset-3 {
        margin-left: 25%
    }
    .gp-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .gp-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .gp-lg-offset-6 {
        margin-left: 50%
    }
    .gp-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .gp-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .gp-lg-offset-9 {
        margin-left: 75%
    }
    .gp-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .gp-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .gp-lg-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left
    }
    [class*=gp-].gp-lg-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    [class*=gp-].gp-lg-centered:last-child {
        float: none
    }
    [class*=gp-].gp-lg-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left
    }
    [class*=gp-].gp-lg-uncentered:last-child {
        float: left
    }
    .gp-avg-lg-1>li {
        width: 100%
    }
    .gp-avg-lg-2>li {
        width: 50%
    }
    .gp-avg-lg-3>li {
        width: 33.3%
    }
    .gp-avg-lg-4>li {
        width: 25%
    }
    .gp-avg-lg-5>li {
        width: 20%
    }
}

.ie_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .85;
    filter: alpha(opacity=85);
    z-index: 99998
}

.ie9tips {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    line-height: 1.8;
    color: #fff;
    z-index: 99999;
    text-align: center
}

.ie9tips a {
    color: red
}

.ie9tips img {
    display: block;
    margin: 0 auto;
    opacity: .9;
    filter: alpha(opacity=90)
}

.ie9tips p {
    padding-top: 10px;
    color: #fff;
    font-size: 16px
}

@media screen and (min-width:1024px) {
    .h_shadow,
    .h_transY {
        transform: translateY(0);
        transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s
    }
    .h_transY:hover {
        transform: translateY(-10px)
    }
    .h_shadow:hover {
        box-shadow: 0 5px 20px 2px rgba(101, 53, 117, .1)
    }
}

.article>p {
    text-indent: 2em
}

.article>p.has_img {
    text-indent: 0
}

.article .rteindent0 {
    text-indent: 0
}

.article .rteindent1 {
    text-indent: 1em
}

.article .rteindent2 {
    text-indent: 2em
}

.article .rteindent3 {
    text-indent: 3em
}

.article .rteindent4 {
    text-indent: 4em
}

.article .rteleft {
    text-align: left
}

.article .rteright {
    text-align: right
}

.article .rtecenter {
    text-align: center
}

.article .rtejustify {
    text-align: justify
}

.article img {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.article video {
    max-width: 100%
}

.article em,
.article i {
    font-style: italic
}

.article a {
    word-break: break-all;
    color: #be1611
}

.article strong,
.article strong span {
    font-weight: 700
}

.article em strong,
.article i strong,
.article strong em,
.article strong i {
    font-style: italic;
    font-weight: 700
}

.article table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd
}

.article table img {
    max-width: initial
}

.article tbody td,
.article tfoot td,
.article thead td {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd
}

.article ol {
    list-style: decimal inside none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px
}

.article ul {
    list-style: disc inside none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px
}

.article ul li {
    list-style-type: disc
}

.article ol li {
    list-style-type: decimal
}

@media screen and (max-width:767px) {
    .article img {
        width: auto !important;
        height: auto !important;
        max-width: calc(100% - 2em)
    }
    .article div {
        overflow: auto
    }
    .article video {
        width: 100% !important;
        height: auto
    }
    .article table {
        margin: 0 !important;
        table-layout: fixed;
        word-break: break-all;
        box-sizing: border-box
    }
    .article table td {
        width: auto !important
    }
    .article table tr {
        height: auto !important
    }
}

@media screen and (min-width:992px) {
    .effect0 {
        opacity: 0;
        transition: all .8s ease-out
    }
    .effect0.isView {
        opacity: 1;
        -webkit-animation-name: effect0;
        animation-name: effect0
    }
    .effect1,
    .effect11,
    .effect11 li {
        opacity: 0;
        transition: all 1.5s ease-out;
        transform: translateY(70px)
    }
    .effect1.isView,
    .effect11.isView,
    .effect11.isView li {
        opacity: 1;
        transform: none;
        -webkit-animation-name: effect1;
        animation-name: effect1
    }
    .effect2,
    .effect21,
    .effect21 li {
        opacity: 0;
        transition: all 1.5s ease-out;
        transform: translateX(50px)
    }
    .effect2.isView,
    .effect21.isView,
    .effect21.isView li {
        opacity: 1;
        transform: none;
        -webkit-animation-name: effect2;
        animation-name: effect2
    }
    .effect3,
    .effect31,
    .effect31 li {
        opacity: 0;
        transition: all 1.5s ease-out;
        transform: translateY(-70px)
    }
    .effect3.isView,
    .effect31.isView,
    .effect31.isView li {
        opacity: 1;
        transform: none;
        -webkit-animation-name: effect3;
        animation-name: effect3
    }
    .effect4,
    .effect41,
    .effect41 li {
        opacity: 0;
        transition: all 1.5s ease-out;
        transform: translateX(-50px)
    }
    .effect4.isView,
    .effect41.isView,
    .effect41.isView li {
        opacity: 1;
        transform: none;
        -webkit-animation-name: effect4;
        animation-name: effect4
    }
    .effect {
        transition: transform 1s, opacity 1s ease-in-out;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out
    }
}

@-webkit-keyframes effect0 {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes effect0 {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes effect1 {
    from {
        opacity: 0;
        transform: translateY(70px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes effect1 {
    from {
        opacity: 0;
        transform: translateY(70px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes effect2 {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes effect2 {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes effect3 {
    from {
        opacity: 0;
        transform: translateY(-70px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes effect3 {
    from {
        opacity: 0;
        transform: translateY(-70px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes effect4 {
    from {
        opacity: 0;
        transform: translateX(-50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes effect4 {
    from {
        opacity: 0;
        transform: translateX(-50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.onlineServiceBtn {
    cursor: pointer;
    width: 125px;
    height: 133px;
    position: fixed;
    bottom: 5%;
    letter-spacing: normal;
    z-index: 88889999;
    animation: run 3s steps(10) infinite;
    -webkit-animation: run 3s steps(10) infinite;
    background: url(../images/onlineService.png) no-repeat;
    overflow: hidden;
    right: 0
}

@-webkit-keyframes run {
    from {
        background-position: 0 0
    }
    to {
        background-position: -1250px 0
    }
}

@keyframes run {
    from {
        background-position: 0 0
    }
    to {
        background-position: -1250px 0
    }
}

.iconfont.icon-at {
    font-size: inherit
}