/* Figma Styles of your File */
:root {
  /* Colors */
  --_16-collections-html-black: #000000;
  --_16-collections-html-gallery: #efefef;
  --_16-collections-html-boulder: #767676;
  --_16-collections-html-saffron-mango: #fbc164;
  --_16-collections-html-beauty-bush: #f1cecd;
  --_16-collections-html-bon-jour: #ece7e9;
  --_16-collections-html-botticelli: #d0e3e8;
  --_16-collections-html-blue-violet: #5661b3;
  --_16-collections-html-pot-pourri: #f4e1e0;
  --_16-collections-html-cod-gray: #070707;
  --_16-borrow-html-black: #000000;
  --_16-borrow-html-gallery: #efefef;
  --_16-borrow-html-boulder: #767676;
  --_16-borrow-html-saffron-mango: #fbc164;
  --_16-borrow-html-beauty-bush: #f1cecd;
  --_16-borrow-html-bon-jour: #ece7e9;
  --_16-borrow-html-botticelli: #d0e3e8;
  --_16-borrow-html-blue-violet: #5661b3;
  --_16-borrow-html-pot-pourri: #f4e1e0;
  --_16-borrow-html-cod-gray: #070707;

  /* Fonts */
  --_16-collections-html-inter-regular-16-font-family: Inter-Regular, sans-serif;
  --_16-collections-html-inter-regular-16-font-size: 16px;
  --_16-collections-html-inter-regular-16-line-height: normal;
  --_16-collections-html-inter-regular-16-font-weight: 400;
  --_16-collections-html-inter-regular-16-font-style: normal;
  --_16-collections-html-inter-bold-32-font-family: Inter-Bold, sans-serif;
  --_16-collections-html-inter-bold-32-font-size: 32px;
  --_16-collections-html-inter-bold-32-line-height: normal;
  --_16-collections-html-inter-bold-32-font-weight: 700;
  --_16-collections-html-inter-bold-32-font-style: normal;
  --_16-collections-html-inter-regular-13-3-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-3-font-size: 13.300000190734863px;
  --_16-collections-html-inter-regular-13-3-line-height: normal;
  --_16-collections-html-inter-regular-13-3-font-weight: 400;
  --_16-collections-html-inter-regular-13-3-font-style: normal;
  --_16-collections-html-inter-bold-16-font-family: Inter-Bold, sans-serif;
  --_16-collections-html-inter-bold-16-font-size: 16px;
  --_16-collections-html-inter-bold-16-line-height: normal;
  --_16-collections-html-inter-bold-16-font-weight: 700;
  --_16-collections-html-inter-bold-16-font-style: normal;
  --_16-collections-html-inter-regular-14-25-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-14-25-font-size: 14.25px;
  --_16-collections-html-inter-regular-14-25-line-height: normal;
  --_16-collections-html-inter-regular-14-25-font-weight: 400;
  --_16-collections-html-inter-regular-14-25-font-style: normal;
  --_16-collections-html-inter-regular-12-63-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-12-63-font-size: 12.625px;
  --_16-collections-html-inter-regular-12-63-line-height: normal;
  --_16-collections-html-inter-regular-12-63-font-weight: 400;
  --_16-collections-html-inter-regular-12-63-font-style: normal;
  --_16-collections-html-inter-regular-14-13-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-14-13-font-size: 14.125px;
  --_16-collections-html-inter-regular-14-13-line-height: normal;
  --_16-collections-html-inter-regular-14-13-font-weight: 400;
  --_16-collections-html-inter-regular-14-13-font-style: normal;
  --_16-collections-html-inter-regular-14-font-family: Inter-Regular, sans-serif;
  --_16-collections-html-inter-regular-14-font-size: 14px;
  --_16-collections-html-inter-regular-14-line-height: normal;
  --_16-collections-html-inter-regular-14-font-weight: 400;
  --_16-collections-html-inter-regular-14-font-style: normal;
  --_16-collections-html-inter-regular-13-13-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-13-font-size: 13.125px;
  --_16-collections-html-inter-regular-13-13-line-height: normal;
  --_16-collections-html-inter-regular-13-13-font-weight: 400;
  --_16-collections-html-inter-regular-13-13-font-style: normal;
  --_16-collections-html-inter-regular-13-88-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-88-font-size: 13.875px;
  --_16-collections-html-inter-regular-13-88-line-height: normal;
  --_16-collections-html-inter-regular-13-88-font-weight: 400;
  --_16-collections-html-inter-regular-13-88-font-style: normal;
  --_16-collections-html-inter-regular-12-75-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-12-75-font-size: 12.75px;
  --_16-collections-html-inter-regular-12-75-line-height: normal;
  --_16-collections-html-inter-regular-12-75-font-weight: 400;
  --_16-collections-html-inter-regular-12-75-font-style: normal;
  --_16-collections-html-inter-regular-13-25-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-25-font-size: 13.25px;
  --_16-collections-html-inter-regular-13-25-line-height: normal;
  --_16-collections-html-inter-regular-13-25-font-weight: 400;
  --_16-collections-html-inter-regular-13-25-font-style: normal;
  --_16-collections-html-inter-regular-13-63-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-63-font-size: 13.625px;
  --_16-collections-html-inter-regular-13-63-line-height: normal;
  --_16-collections-html-inter-regular-13-63-font-weight: 400;
  --_16-collections-html-inter-regular-13-63-font-style: normal;
  --_16-collections-html-inter-regular-13-38-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-38-font-size: 13.375px;
  --_16-collections-html-inter-regular-13-38-line-height: normal;
  --_16-collections-html-inter-regular-13-38-font-weight: 400;
  --_16-collections-html-inter-regular-13-38-font-style: normal;
  --_16-collections-html-inter-regular-12-68-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-12-68-font-size: 12.676562309265137px;
  --_16-collections-html-inter-regular-12-68-line-height: 15px;
  --_16-collections-html-inter-regular-12-68-font-weight: 400;
  --_16-collections-html-inter-regular-12-68-font-style: normal;
  --_16-collections-html-inter-regular-13-5-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-5-font-size: 13.5px;
  --_16-collections-html-inter-regular-13-5-line-height: normal;
  --_16-collections-html-inter-regular-13-5-font-weight: 400;
  --_16-collections-html-inter-regular-13-5-font-style: normal;
  --_16-collections-html-inter-regular-12-88-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-12-88-font-size: 12.875px;
  --_16-collections-html-inter-regular-12-88-line-height: normal;
  --_16-collections-html-inter-regular-12-88-font-weight: 400;
  --_16-collections-html-inter-regular-12-88-font-style: normal;
  --_16-collections-html-inter-regular-13-75-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-13-75-font-size: 13.75px;
  --_16-collections-html-inter-regular-13-75-line-height: normal;
  --_16-collections-html-inter-regular-13-75-font-weight: 400;
  --_16-collections-html-inter-regular-13-75-font-style: normal;
  --_16-collections-html-inter-regular-12-36-font-family: Inter-Regular,
    sans-serif;
  --_16-collections-html-inter-regular-12-36-font-size: 12.36484432220459px;
  --_16-collections-html-inter-regular-12-36-line-height: normal;
  --_16-collections-html-inter-regular-12-36-font-weight: 400;
  --_16-collections-html-inter-regular-12-36-font-style: normal;
  --_16-collections-html-inter-bold-18-7-font-family: Inter-Bold, sans-serif;
  --_16-collections-html-inter-bold-18-7-font-size: 18.700000762939453px;
  --_16-collections-html-inter-bold-18-7-line-height: normal;
  --_16-collections-html-inter-bold-18-7-font-weight: 700;
  --_16-collections-html-inter-bold-18-7-font-style: normal;
  --_16-collections-html-inter-bold-15-63-font-family: Inter-Bold, sans-serif;
  --_16-collections-html-inter-bold-15-63-font-size: 15.632031440734863px;
  --_16-collections-html-inter-bold-15-63-line-height: normal;
  --_16-collections-html-inter-bold-15-63-font-weight: 700;
  --_16-collections-html-inter-bold-15-63-font-style: normal;
  --_16-borrow-html-inter-bold-18-5-font-family: Inter-Bold, sans-serif;
  --_16-borrow-html-inter-bold-18-5-font-size: 18.5px;
  --_16-borrow-html-inter-bold-18-5-line-height: normal;
  --_16-borrow-html-inter-bold-18-5-font-weight: 700;
  --_16-borrow-html-inter-bold-18-5-font-style: normal;
  --_16-borrow-html-inter-regular-8-63-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-8-63-font-size: 8.625px;
  --_16-borrow-html-inter-regular-8-63-line-height: normal;
  --_16-borrow-html-inter-regular-8-63-font-weight: 400;
  --_16-borrow-html-inter-regular-8-63-font-style: normal;
  --_16-borrow-html-inter-regular-7-79-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-7-79-font-size: 7.79296875px;
  --_16-borrow-html-inter-regular-7-79-line-height: normal;
  --_16-borrow-html-inter-regular-7-79-font-weight: 400;
  --_16-borrow-html-inter-regular-7-79-font-style: normal;
  --_16-borrow-html-inter-bold-8-63-font-family: Inter-Bold, sans-serif;
  --_16-borrow-html-inter-bold-8-63-font-size: 8.625px;
  --_16-borrow-html-inter-bold-8-63-line-height: normal;
  --_16-borrow-html-inter-bold-8-63-font-weight: 700;
  --_16-borrow-html-inter-bold-8-63-font-style: normal;
  --_16-borrow-html-inter-regular-13-25-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-25-font-size: 13.25px;
  --_16-borrow-html-inter-regular-13-25-line-height: normal;
  --_16-borrow-html-inter-regular-13-25-font-weight: 400;
  --_16-borrow-html-inter-regular-13-25-font-style: normal;
  --_16-borrow-html-inter-regular-13-38-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-38-font-size: 13.375px;
  --_16-borrow-html-inter-regular-13-38-line-height: normal;
  --_16-borrow-html-inter-regular-13-38-font-weight: 400;
  --_16-borrow-html-inter-regular-13-38-font-style: normal;
  --_16-borrow-html-inter-regular-15-75-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-15-75-font-size: 15.75px;
  --_16-borrow-html-inter-regular-15-75-line-height: normal;
  --_16-borrow-html-inter-regular-15-75-font-weight: 400;
  --_16-borrow-html-inter-regular-15-75-font-style: normal;
  --_16-borrow-html-inter-regular-13-5-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-5-font-size: 13.5px;
  --_16-borrow-html-inter-regular-13-5-line-height: normal;
  --_16-borrow-html-inter-regular-13-5-font-weight: 400;
  --_16-borrow-html-inter-regular-13-5-font-style: normal;
  --_16-borrow-html-inter-regular-13-13-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-13-font-size: 13.125px;
  --_16-borrow-html-inter-regular-13-13-line-height: normal;
  --_16-borrow-html-inter-regular-13-13-font-weight: 400;
  --_16-borrow-html-inter-regular-13-13-font-style: normal;
  --_16-borrow-html-inter-regular-16-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-16-font-size: 16px;
  --_16-borrow-html-inter-regular-16-line-height: normal;
  --_16-borrow-html-inter-regular-16-font-weight: 400;
  --_16-borrow-html-inter-regular-16-font-style: normal;
  --_16-borrow-html-inter-regular-8-75-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-8-75-font-size: 8.75px;
  --_16-borrow-html-inter-regular-8-75-line-height: normal;
  --_16-borrow-html-inter-regular-8-75-font-weight: 400;
  --_16-borrow-html-inter-regular-8-75-font-style: normal;
  --_16-borrow-html-inter-regular-12-75-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-12-75-font-size: 12.75px;
  --_16-borrow-html-inter-regular-12-75-line-height: normal;
  --_16-borrow-html-inter-regular-12-75-font-weight: 400;
  --_16-borrow-html-inter-regular-12-75-font-style: normal;
  --_16-borrow-html-inter-regular-13-63-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-63-font-size: 13.625px;
  --_16-borrow-html-inter-regular-13-63-line-height: normal;
  --_16-borrow-html-inter-regular-13-63-font-weight: 400;
  --_16-borrow-html-inter-regular-13-63-font-style: normal;
  --_16-borrow-html-inter-regular-13-75-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-75-font-size: 13.75px;
  --_16-borrow-html-inter-regular-13-75-line-height: normal;
  --_16-borrow-html-inter-regular-13-75-font-weight: 400;
  --_16-borrow-html-inter-regular-13-75-font-style: normal;
  --_16-borrow-html-inter-regular-12-68-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-12-68-font-size: 12.676562309265137px;
  --_16-borrow-html-inter-regular-12-68-line-height: 15px;
  --_16-borrow-html-inter-regular-12-68-font-weight: 400;
  --_16-borrow-html-inter-regular-12-68-font-style: normal;
  --_16-borrow-html-inter-regular-14-38-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-14-38-font-size: 14.375px;
  --_16-borrow-html-inter-regular-14-38-line-height: normal;
  --_16-borrow-html-inter-regular-14-38-font-weight: 400;
  --_16-borrow-html-inter-regular-14-38-font-style: normal;
  --_16-borrow-html-inter-regular-13-88-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-13-88-font-size: 13.875px;
  --_16-borrow-html-inter-regular-13-88-line-height: normal;
  --_16-borrow-html-inter-regular-13-88-font-weight: 400;
  --_16-borrow-html-inter-regular-13-88-font-style: normal;
  --_16-borrow-html-inter-regular-12-36-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-12-36-font-size: 12.36484432220459px;
  --_16-borrow-html-inter-regular-12-36-line-height: normal;
  --_16-borrow-html-inter-regular-12-36-font-weight: 400;
  --_16-borrow-html-inter-regular-12-36-font-style: normal;
  --_16-borrow-html-inter-regular-14-25-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-14-25-font-size: 14.25px;
  --_16-borrow-html-inter-regular-14-25-line-height: normal;
  --_16-borrow-html-inter-regular-14-25-font-weight: 400;
  --_16-borrow-html-inter-regular-14-25-font-style: normal;
  --_16-borrow-html-inter-regular-14-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-14-font-size: 14px;
  --_16-borrow-html-inter-regular-14-line-height: normal;
  --_16-borrow-html-inter-regular-14-font-weight: 400;
  --_16-borrow-html-inter-regular-14-font-style: normal;
  --_16-borrow-html-inter-regular-9-38-font-family: Inter-Regular, sans-serif;
  --_16-borrow-html-inter-regular-9-38-font-size: 9.375px;
  --_16-borrow-html-inter-regular-9-38-line-height: normal;
  --_16-borrow-html-inter-regular-9-38-font-weight: 400;
  --_16-borrow-html-inter-regular-9-38-font-style: normal;
  --_16-borrow-html-inter-bold-10-66-font-family: Inter-Bold, sans-serif;
  --_16-borrow-html-inter-bold-10-66-font-size: 10.664843559265137px;
  --_16-borrow-html-inter-bold-10-66-line-height: normal;
  --_16-borrow-html-inter-bold-10-66-font-weight: 700;
  --_16-borrow-html-inter-bold-10-66-font-style: normal;
  --_16-borrow-html-inter-bold-15-63-font-family: Inter-Bold, sans-serif;
  --_16-borrow-html-inter-bold-15-63-font-size: 15.632031440734863px;
  --_16-borrow-html-inter-bold-15-63-line-height: normal;
  --_16-borrow-html-inter-bold-15-63-font-weight: 700;
  --_16-borrow-html-inter-bold-15-63-font-style: normal;

  /* Effects */
}
